body{
	background-color:red;
	margin: 0px;
}

.header{
	background-image: url("kepek/fejlec.jpg");
	height:450px;
	/* background-repeat:no-repeat; */ /*(no-)repeat - (nem) ismétli a képet*/
	background-size: contain; /*szélességét*/
	/* background-size: cover; */ /*maggasságát*/
}
.header p{
	margin: 0px;
	text-align:center;
	font-size: 40px;
	color: beige;
	text-shadow: 3px 3px 5px black;
	letter-spacing: 5px;
	padding-top: 100px;
	
	
	/* color:rgb(255,0,255); */
	/* color:beige; */
	
	/* color:rgba(255,0,0); */
	
	/* color: #3f66ab; */
	/* Hexadecimális: 0,1,2,3,4,5,6,7,8,9,A,B,C,D,E,F*/
	
}


.masodik_blokk{
	height:450px;
}


.feher-hatteres{
	background-color:lightgray;
	width: 50%;
	float: left;
	height: 100%;
	text-align: center;

}
.szoveg-kep{
	background-color:white;
	width: 50%;
	float: right;
	height: 100%;
	
}

.feher-hatteres img{
	/*width: 30%;	*/
	height: 70%;
	position: relative;
	top: 15%; 
	opacity: 50%;
	/*
		-15%  -> 0.15
		78,3% -> 0.783
	*/
}

.szoveg-kep-belso{
	/* .szoveg-kep-belso */
	width: 80%;
	height: 80%;
	margin: auto;
	position:relative;
	top: 10%;
	padding: 10px;
	text-align: center;
	overflow:scroll;
}

.szoveg-kep-belso img{
	height: 50%;
}

.szoveg-kep-belso p{
	text-align: left;
}

h2{
	margin-top:0;
}

.galaxy{
	background-size: contain;
	background-image: url("kepek/R.JFIF");
	height:450px;
	
}
	
.galaxy p{
	margin: 0px;
	text-align:center;
	font-size: 40px;
	color: beige;
	text-shadow: 3px 3px 5px black;
	letter-spacing: 5px;
	padding-top: 100px;
}


.bal{
	float:left;
}
.jobb{
	float:right;
}