body{
    background-color: beige;
}
div{
    background-color: burlywood;
    border: 1px solid black;
    height: 60px;
    width: 100px;
    display: inline-block;
    margin: 3vw;
}

#forgatas1:hover{
    border-radius: 10px 0 0 0;
    transform: rotate(60deg);
}
#forgatas2{
    border-radius: 10px 0 0 0;
    transform: rotate(0.1turn); 
}
#forgatas3{
    border-radius: 10px 0 0 0;
    transform: rotateY(60deg);
}

/* Nagyítás*/

#nagyitas1:hover{
    border-radius: 10px 0 0 0;
    transform: scale(1.5);
}
#nagyitas2{
    border-radius: 10px 0 0 0;
    transform: scale(.5);
}
#nagyitas3{
    border-radius: 10px 0 0 0;
    transform: scale(110%);
}

/*Eltolás*/
#eltolas1{
    transform: translate(30px,30px);
}
#eltolas2{
    transform: translate(20px,3vw);
}
#eltolas3{
    transform: translateX(50%);
}

/*Ferdítés*/

#ferdites1{
    transform: skew(30deg);
}
#eltolas2{
    transform: skew(0deg, 30deg);
}
#eltolas3{
    transform: skewx(0,30deg);
}

/*Középpont Áthelyezés*/

#kph1{
    transform-origin: top;
    transform: scale(0.5);
}
#kph2{
    transform-origin: top right;
    transform: scale(1.4);
}

/*Középre igazítás vertikálisan(függőlegesen)*/
#vertikalis{
    position: relative;
}

#vertikalis a{
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: aqua;
    transform: translate(-50%,-50%);
}


